@responsive
  .text-h1
    font-size: 48px
    line-height: 58px
    font-weight: 700
    letter-spacing: 0.06em
    text-transform: uppercase

@responsive
  .text-h2
    font-size: 40px
    line-height: 49px
    font-weight: 500
    letter-spacing: 0.025em

@responsive
  .text-h3
    font-size: 20px
    line-height: 28px
    font-weight: 800
    letter-spacing: 0.1em
    text-transform: uppercase

@responsive
  .text-h4
    font-size: 20px
    line-height: 28px
    font-weight: 300
    letter-spacing: 0.001em

@responsive
  .text-h5
    font-size: 14px
    line-height: 18px
    font-weight: 800
    letter-spacing: 0.07em
    text-transform: uppercase

@responsive
  .text-h6
    font-size: 12px
    line-height: 18px
    font-weight: 800

@responsive
  .text-body-1
    line-height: 18px
    font-weight: 400
    letter-spacing: 0.009em

@responsive
  .text-body-2
    font-size: 12px
    line-height: 15px
    font-weight: 300
    letter-spacing: 0.015em